.row
  .large-12.columns
    %h3
      = link_to "All Makes", root_path


.row
  .large-12.columns
    %ul{"data-options" => "timer_speed: 8000;", "data-orbit" => ""}
      - @images.each do |image|
        %li
          %center
            = image_tag(find_best_image(image["photoSrcs"]))
          .orbit-caption= image["captionTranscript"]

    :javascript
      $(document).foundation('orbit');

.row
  .large-12.columns
    %h4 Features
.row
  .large-12.columns
    .row
      - @style.first["attributeGroups"].map{|s| s[0] }.sort{|x,y| x <=> y }.each do |group|
        .large-3.small-12.columns= link_to group.humanize, "##{group}", :class => "button small expand"
    - @style.first["attributeGroups"].each do |attr_group|
      %table{:id => "#{attr_group[0]}"}
        %thead
          %tr
            %th{:colspan => 2}
              %h4
                = attr_group.last["name"].humanize
                = link_to "(Top)", "#", :style => "color: lightblue; margin-left: 10px;"
        %tbody
          - if attr_group.last["attributes"]
            %tr
              - attr_group.last["attributes"].each do |attr|
                %tr
                  %td
                    %h6
                      = attr.last["name"].gsub(/_/," ")
                  %td
                    - if attr.last["value"]
                      = attr.last["value"]
                    - else
                      = "n/a"
