%h3
  = link_to "All Makes", root_path
  >
  = link_to @make, make_path(name: @make, id: @model_years.first["makeId"])
  >
  = @model

%hr

.row
  - @model_years.sort{|x,y| y["year"] <=> x["year"] }.each do |year|
    .large-4.columns
      = link_to year["year"], "#", :class => "button large expand", :id => year["year"]
      = image_tag(get_sample_image_for_style(year["subModels"].first["styleIds"].first), :class => "sample_image")




