%h3
  = link_to "All Makes", root_path
  >
  = link_to @make, "#"
  >
  = link_to @model, "#"
  > Model Years


%hr

- @model_years.sort{|x,y| x["year"] <=> y["year"] }.each do |year|
  .row
    .large-6.columns
      = link_to year["year"], "#", :class => "button large expand", "data-reveal-id" => year["year"]
      %div{:id => year["year"], :class => "reveal-modal"}
        %h4 Sub Models
        - year["subModels"].each do |sub|
          = sub["name"]
          %p


